@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:white;" class="display-4">Bem Vindo!</h1>
    <p style="color: white;"> Escolha a função que deseja executar!</p>
</div>

<table class="table table-dark table-striped">
    <tbody>
        <tr>
            <th scope="row">Cadastro Usuários</th>
            <td><a class="btn btn-primary" href="~/Curriculos/Index" role="button">Entrar</a></td>
        </tr>
        <tr>
            <th scope="row">Cadastro de Vagas</th>
            <td><a class="btn btn-primary" href="~/Vagas/Index" role="button">Entrar</a></td>
        </tr>
    </tbody>
</table>
